.item-category__wrapper {
    background-color: #2E3153;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.item-category__header {
    display: flex;
    justify-content: space-between;
}

.item-category__descr {
    max-width: 205px;
}

.item-category__btns {
    width: 10px;
}

.item-category__tegs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-category__teg {
    border-radius: 10px;
    background-color: #ccc;
    width: 31%;
    text-align: center;
    margin-top: 5px;
    color: #101335
}

.item-category__teg:nth-child(1n) {
    background-color: #FFFFFF;
}

.item-category__teg:nth-child(2n) {
    background-color: #82D9FF;
}

.item-category__teg:nth-child(3n) {
    background-color: #00A1E7;
}

.item-category__teg:nth-child(4n) {
    background-color: #0050AD;
}

.item-category__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-category__user {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}